<!DOCTYPE html>
<html lang="en">

<body>
    <div th:if="${user==null}">
        <p>Login</p>
        <p>
        <form method="post" th:action="@{/oauth2/authorization/muni}"><button class="btn btn-outline-primary"
                type="submit">Login</button></form>
    </div>


    <div th:if="${user}">
        <h1>Successfully logged in</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">subject</th>
                    <td th:text="${user.subject}"></td>
                </tr>
                <tr>
                    <th scope="row">name</th>
                    <td th:text="${user.fullName}"></td>
                </tr>
                <tr>
                    <th scope="row">email</th>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr th:if="${oauth2Client}">
                    <th scope="row">token</th>
                    <td><textarea cols="80" rows="15"
                            th:text="${oauth2Client.getAccessToken().getTokenValue()}"></textarea></td>
                </tr>
                <tr th:if="${user.getClaimAsStringList('eduperson_scoped_affiliation')}">
                    <th scope="row">eduperson_scoped_affiliation</th>
                    <td>
                        <ul>
                            <li th:each="affiliation: ${user.getClaimAsStringList('eduperson_scoped_affiliation')}"
                                th:text="${affiliation}"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <th:block>
            Now you may proceed to calling resource servers.
        </th:block>
        <form method="post" th:action="@{/logout}"><button class="btn btn-outline-primary" type="submit">Logout</button>
        </form>
        <form th:action="@{registered}"><button class="btn btn-outline-primary" type="submit">See token</button></form>
    </div>
</body>

</html>
